<div data-role="page" id="settings">
  <div data-role="header" data-position="fixed">
    <h1>Settings</h1><a href="#home" data-transition="slideup" data-direction="reverse" data-icon="check"
      class="ui-btn-right">Done</a>
  </div>
  <div role="main" class="ui-content">
    <h2>Settings</h2>
  </div>
</div>