<div data-role="page" id="dialog1" data-dialog="true">

  <div data-role="header">
    <h1>{{title}}</h1>
  </div>

  <div role="main" class="ui-content">
    <h2>{{data.title}}</h2>
    <p>{{data.body}}</p>
  </div>

</div>