<div data-role="page" id="page1">
  <div data-role="header" data-position="fixed">
    <h1>{{title}}</h1>
    <a href="#home" data-transition="slide" data-direction="reverse" data-icon="arrow-l" class="ui-btn-left">Home</a>
  </div>

  <div role="main" class="ui-content">
    <h2>{{data.title}}</h2>
    <p>{{data.body}}</p>
  </div>
</div>